

<%= form_for @preference, url: admin_preference_path(@preference)do |f| %>
  <br>
  <label>Allow Create Artists</label><br>
  True <%= f.radio_button :allow_create_artists, true %><br>
  False <%= f.radio_button :allow_create_artists, false %><br>
  <br>

  <label>Allow Create Songs</label><br>
  True <%= f.radio_button :allow_create_songs, true %><br>
  False <%= f.radio_button :allow_create_songs, false %><br>
  <br>

  <label>Song Sort Order</label><br>
  Ascending <%= f.radio_button :song_sort_order, "ASC" %><br>
  Descending <%= f.radio_button :song_sort_order, "DESC" %><br>
  <br>

  <label>Artist Sort Order</label><br>
  Ascending <%= f.radio_button :artist_sort_order, "ASC" %><br>
  Descending <%= f.radio_button :artist_sort_order, "DESC" %><br>
  <br>
  <%= f.submit %>
<% end %>
